*{
    padding: 0px;
    margin: 0px;
}
body{
    padding-top: 83px;
    background-color: #181818;
}
header{
    padding: 24px 0; background: #181818;
position: fixed;
width: 100%;
top: 0;
z-index: 99;
}
.d_flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.flex_wrap{
  flex-wrap: wrap;
}

.Header_block{
    max-width: 1200px; display: flex; margin:auto; justify-content: space-between; align-items: center;
}
/* .container_nav{
  max-width: 1200px;
  display: flex;
  margin:auto;
  justify-content: space-between; align-items: center;
} */
.Header_image{
    margin-left: 32px;
}
.Header_navigation{
    display: flex; list-style: none; margin-right: 20px;
    align-items: center;
  

}
.cd-3d-nav-container .cd-selected{
    margin-left: 20px;
}
.cd-3d-nav-container .cd-3d-nav,.Header_navigation li:nth-child(2){
    margin-left: 56px;
}
.cd-3d-nav-container .cd-3d-nav,.Header_navigation li:nth-child(3){
    margin-left: 32px;
}
.cd-3d-nav-container .cd-3d-nav,.Header_navigation li:nth-child(4){
    margin-left: 32px;
}
.cd-3d-nav-container .cd-3d-nav,.Header_navigation li:nth-child(5){
    margin-left: 32px;
}
/* .cd-3d-nav-container .cd-selected a{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
} */
/* .cd-3d-nav-container .cd-3d-nav a:nth-child(1){
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF; 
} */

.cd-3d-nav a:first-child{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF; 
}
.cd-3d-nav a:nth-child(2){
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF; 
}




/* .item_1{
    margin-left: 20px;
}
.item_2{
    margin-left: 56px;
}
.item_3{
    margin-left: 32px;
}
.item_4{
    margin-left: 32px;
}
.item_5{
    margin-left: 32px;
} */
.item_link_1{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_2{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_3{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_4{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_5{
    text-decoration: none; font-family: 'Poppins', sans-serif;  padding: 9px 20px 9px 20px; background: #FFFFFF; border-radius: 14px;  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
}
.main_content{
    background-image: url('../images/bg_m.jpg'); background-size: cover; height: calc(100vh - 83px); display: flex; justify-content: center; align-items: flex-end; padding-bottom: 71px; box-sizing: border-box; position: relative;
}
.content_block{
    max-width: 580px; text-align: center;
}
.title{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #C0C0C0;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF; 
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0; 
}
.fixed_location{
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.fixed_location li{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
margin-left: 16px;
display: flex;
align-items: center;
}
.fixed_location li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;

}
.fixed_location li:nth-child(2):before{
background-image: url("../images/circl.svg");
}
.fixed_location li:nth-child(3):before{
   background-image: url("../images/iso.svg");
   width: 32px; 
}
.fixed_location li:nth-child(4):before{
    background-image: url("../images/location.svg");
    width: 10px;
}
.sunset{
    background-image: url("../images/bgimage_mountine.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sunset .sub_container{
max-width: 298px;
margin-right: 62px;
}
.sub_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monstera{
   background-image: url('../images/monstera_bg.jpg');
   background-size: cover;
   min-height: 600px;
   position: relative;
   display: flex;
    justify-content: right;
    align-items: center;
}
.monstera .monstera_container{
    max-width: 273px;
    margin-right: 87px;
}
.monstera_container h4{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
}
.monstera_container p{   
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
}
.past_clients{
    background-color:#000000;
    
    padding-top: 120px;
    padding-bottom: 100px;

}
.past_clients_container{
    max-width: 1200px;
    margin: auto;
}
.past_clients_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients_images{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.past_clients_images a{
    max-width: 128px;
    display: inline-block;
    

}
.star{
    background-image: url('../images/bgimage_star.jpg');
    min-height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
     justify-content: right;
     align-items: center;
}
.star .star_container{
    max-width: 300px;
    margin-right: 60px;
}
.star_container h4{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
}
.star_container p{ 
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
}
.need_help{
    background-color: #000000;
   
    padding-top: 113px;
    padding-bottom: 108px;

}
.need_help_container{
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;

}
.need_help_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.need_help_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.need_help_container a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.need_help_container a:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color:#000000 ;
    border-radius: 12px;
    margin-right: 6px;

}
.owl-stage{
    display: flex;
    align-items: center;
}
.owl-item{
    text-align: center; 
}

/*! add chevrone */

.owl-nav .owl-prev:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    display: inline-block;
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
    left: -45px;
    top: 22px;

}
.owl-nav .owl-next:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\f053";
    display: inline-block;
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
    right: -45px;
    top: 22px;
transform: rotate(180deg);
}

/*! close add */

/* add dots */
/* .owl-dots{
    text-align: center;
}
.owl-dots .owl-dot span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: brown;
    border-radius: 50%;
    
    
}
.owl-dots .owl-dot.active span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    
}*/

/* close add dots */

/* add accordion */
/* .faq{
    background-color: #F3F5F7;
    padding: 80px 0;
}
.faq .container{
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: auto;
}
.faq .text{
    max-width: 500px;
    padding-right: 50px;
    box-sizing: border-box;
}
.faq .accordion{
    max-width: 700px;
}
.faq .text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 50px;
}
.faq .text p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #697586;
}
.faq .ui-accordion .ui-accordion-header{
    background: #FFFFFF;
    border: 1px solid #E3E8EF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 23px 25px;
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #202939;
margin-bottom: 16px;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active{
    margin-bottom: 0px;
    border-radius: 8px 8px 0 0;
}
.ui-accordion .ui-accordion-content{
    margin-bottom: 16px;
    border-radius: 0 0 8px 8px;
}
.faq .ui-accordion .ui-icon{
    background-image: none;
    background-position: 0;
    width: 32px;
    height: 48px;
    text-indent: 0;
    position: absolute;
    right: 25px;
    top: 29px;

}
.faq .ui-accordion .ui-icon:before{
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    content: "\2b";
    font-size: 22px;
display: inline-block;
transition: 0.8s;
}
.faq .ui-accordion .ui-accordion-header.ui-state-active .ui-icon:before{
transform: rotate(360deg);

} */

/* close add accordion */



/* !add menu */


/* ---Main Components ---- */
.cd-header {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .cd-header:after {
    content: "";
    display: table;
    clear: both; }
  .cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
  @media only screen and (min-width: 768px) {
    .cd-header.nav-is-visible {
      -webkit-transform: translateY(170px);
      -moz-transform: translateY(170px);
      -ms-transform: translateY(170px);
      -o-transform: translateY(170px);
      transform: translateY(170px); } }

  @media only screen and (min-width: 768px) {

.cd-3d-nav-container{
    display: flex;
    align-items: center;
}
  }


  @media only screen and (min-width: 768px) {
    .cd-3d-nav a {
        text-decoration: none; font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
        padding: 7.6em 1em 0;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* truncate text with ellipsis if too long */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .cd-3d-nav a::before {
          top: 4.4em;
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); } }

        .cd-3d-nav-trigger {
          position: relative;
          float: right;
          height: 45px;
          width: 45px;
          /* replace text with background image */
          overflow: hidden;
          text-indent: 100%;
          white-space: nowrap;
          color: transparent; 
         display: none;
        }

.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background-color: currentColor;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(90deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s; }
  .cd-marker::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit; }
  .nav-is-visible .cd-marker {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }

/* these are the colors of the markers - line + arrow */
.color-1 {
  color: #9a57bd; }

.color-2 {
  color: #c96aa4; }

.color-3 {
  color: #d6915e; }

.color-4 {
  color: #5397c7; }

.color-5 {
  color: #77cd91; }

main {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

  main.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
  @media only screen and (min-width: 768px) {
    main.nav-is-visible {
      -webkit-transform: translateY(170px);
      -moz-transform: translateY(170px);
      -ms-transform: translateY(170px);
      -o-transform: translateY(170px);
      transform: translateY(170px); }
 }

 /* close add menu */

 .what_we_do{
  background-color: #000000;
  padding-top: 113px;
  padding-bottom: 100px;
 }
 .what_we_do .container{
  max-width: 1168px;
  margin: auto;
 }

 .what_we_do h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
 }

 .what_we_do h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 42px;
 }
 .what_we_do .d_flex{
  justify-content: space-between;
 }
 .what_we_do article{
  max-width: 576px;
  margin-bottom: 16px;
  position: relative;
 }
 .what_we_do img{
  width: 100%;
  display: block;
 }
 .what_we_do article .description{
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding-right: 30px;
 }
 .what_we_do .description h4{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 15px;
text-align: left;
 }
 .what_we_do .description p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
margin-bottom: 15px;
 }
 .btm{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  border-radius: 14px;
  padding: 5px 10px 5px 4px;
  display: inline-flex;
  align-items: center;
 }
 .btm:before{
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color:#000000 ;
  border-radius: 12px;
  margin-right: 6px;

}
.tools{
  background-color: #000000;
  min-height: 540px;
  position: relative;
  
}
  .position_bg{
    position: absolute;
    width: 50%;
    min-height: 540px;
    right: 0;
    top: 0;
    background-image: url('../images/tools_bg.jpg');
    background-size: cover;
  }
  .tools .item{
    max-width: 514px;
    
  }
  .tools .item h4{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #C0C0C0;
margin-bottom: 6px;
  }
  .tools .item h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
color: #FFFFFF;
margin-bottom: 14px;
  }
  .tools .item p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
margin-bottom: 20px;
  }
  .tools .container{
    display: flex;
    align-items: center;
    min-height: 540px;
   max-width: 1200px;
   margin: auto;
  
  }
