*{
    padding: 0px;
    margin: 0px;
}
body{
    padding-top: 83px;
}
header{
    padding: 24px 0; background: #181818;
position: fixed;
width: 100%;
top: 0;
z-index: 99;
}
.Header_block{
    max-width: 1200px; display: flex; margin:auto; justify-content: space-between; align-items: center;
}
.Header_image{
    margin-left: 32px;
}
.Header_navigation{
    display: flex; list-style: none; margin-right: 20px;
}
.item_1{
    margin-left: 20px;
}
.item_2{
    margin-left: 56px;
}
.item_3{
    margin-left: 32px;
}
.item_4{
    margin-left: 32px;
}
.item_5{
    margin-left: 32px;
}
.item_link_1{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_2{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_3{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_4{
    text-decoration: none; font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.item_link_5{
    text-decoration: none; font-family: 'Poppins', sans-serif;  padding: 9px 20px 9px 20px; background: #FFFFFF; border-radius: 14px;  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
}
.main_content{
    background-image: url('../images/bg_m.jpg'); background-size: cover; height: calc(100vh - 83px); display: flex; justify-content: center; align-items: flex-end; padding-bottom: 71px; box-sizing: border-box; position: relative;
}
.content_block{
    max-width: 580px; text-align: center;
}
.title{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #C0C0C0;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF; 
}
.subtitle{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0; 
}
.fixed_location{
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.fixed_location li{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;
margin-left: 16px;
display: flex;
align-items: center;
}
.fixed_location li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;

}
.fixed_location li:nth-child(2):before{
background-image: url("../images/circl.svg");
}
.fixed_location li:nth-child(3):before{
   background-image: url("../images/iso.svg");
   width: 32px; 
}
.fixed_location li:nth-child(4):before{
    background-image: url("../images/location.svg");
    width: 10px;
}
.sunset{
    background-image: url("../images/bgimage_mountine.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sunset .sub_container{
max-width: 298px;
margin-right: 62px;
}
.sub_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sub_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.monstera{
   background-image: url('../images/monstera_bg.jpg');
   background-size: cover;
   min-height: 600px;
   position: relative;
   display: flex;
    justify-content: right;
    align-items: center;
}
.monstera .monstera_container{
    max-width: 273px;
    margin-right: 87px;
}
.monstera_container h4{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
}
.monstera_container p{   
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
}
.past_clients{
    background-color:#000000;
    
    padding-top: 120px;
    padding-bottom: 100px;

}
.past_clients_container{
    max-width: 1200px;
    margin: auto;
}
.past_clients_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients_images{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.past_clients_images a{
    max-width: 128px;
    display: inline-block;
    

}
.star{
    background-image: url('../images/bgimage_star.jpg');
    min-height: 600px;
    background-size: cover;
    position: relative;
    display: flex;
     justify-content: right;
     align-items: center;
}
.star .star_container{
    max-width: 300px;
    margin-right: 60px;
}
.star_container h4{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
}
.star_container p{ 
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #C0C0C0;
}
.need_help{
    background-color: #000000;
   
    padding-top: 113px;
    padding-bottom: 108px;

}
.need_help_container{
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;

}
.need_help_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.need_help_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.need_help_container a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;
}
.need_help_container a:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color:#000000 ;
    border-radius: 12px;
    margin-right: 6px;

}
.owl-stage{
    display: flex;
    align-items: center;
}
.owl-item{
    text-align: center; 
}


